@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}
.content {
    background-color: #969696;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before {
    content: "";
    position: absolute;
    background-color: #152e56; 
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
}
.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-primary {
    color: #ffffff; 
}
.title-second {
    color: #000000; 
}
.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary {
    color: #ffffff; 
}
.description-second {
    color: #050505;
}
.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #000000;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 170px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}
.btn-primary {
    background-color: transparent;
    border: 1px solid #000000;
    transition: background-color .5s;
    width: 200px; 
}
.btn-primary:hover {
    background-color: #fff;
    color: #152e56;
}
.btn-second {
    background-color: #152e56; 
    border: 1px solid #152e56; 
    transition: background-color .5s;
}
.btn-second:hover {
    background-color: #fff;
    border: 1px solid ##152e56; 
    color: #286fc7; 
}
.first-content {
    display: flex;
}
.first-content .second-column {
    z-index: 11;
}
.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}
.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
    border-radius: 10px; 
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}
.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
    border-radius: 10px; 
}
.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}



.second-content {
    position: absolute;
    display: flex;
}
.second-content .first-column {
    order: 2;
    z-index: -1;
}
.second-content .second-column {
    order: 1;
    z-index: -1;
}
.password {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}
.password::first-letter {
    text-transform: capitalize;
}

.sign-in-js .first-content .first-column {
    z-index: -1;
}

.sign-in-js .second-content .second-column {
    z-index: 11;
}
.sign-in-js .second-content .first-column {
    z-index: 13;
}

.sign-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.3s;
    z-index: 12;
}

.sign-up-js .content::before {
    animation: slideout 1.3s;
    z-index: 12;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
    z-index: -1;
}

.sign-up-js .first-content .second-column {
    z-index: 11;
}

.sign-up-js .first-content .first-column {
    z-index: 13;    
}


.sign-in-js .first-content .second-column {
    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 0.01s;
}

.sign-up-js .second-content .second-column {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 0.01s;
}

@keyframes deslocamentoEsq {
    from {
        left: 0;
        opacity: 100;
        z-index: 12;
    }
    25% {
        left: -80px;
        opacity: .5;
    }
    50% {
        left: -100px;
        opacity: .2;
    }
    to {
        left: -110px;
        opacity: 100;
        z-index: -1;
    }
}

@keyframes deslocamentoDir {
    from {
        left: 0;
        z-index: 12;
    }
    25% {
        left: 80px;
    }
    50% {
        left: 100px;
    }
    to {
        left: 110px;
        z-index: -1;
    }
}

@keyframes slidein {
    from {
        left: 0;
        width: 40%;
    }

    to {
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {
    from {
        left: 60%;
        width: 40%;
    }

    to {
        left: 0;
        width: 40%;
    }
}

@media screen and (max-width: 1040px) {
    .content {
        width: 100%;
        height: 100%;
    }

    .content::before {
        width: 100%;
        height: 40%;
        top: 0;
        border-radius: 0;
    }
    .first-content, .second-content {
        flex-direction: column;
        justify-content: space-around;
    }

    .first-column, .second-column {
        width: 100%;
    }

    .sign-in-js .content::before {
        top: 60%;
        left: 0;
        border-radius: 0;
    }

    .form {
        width: 90%;
    }

    /* ANIMAÇÃO MOBILE CSS*/

    @keyframes deslocamentoEsq {
        from {
            top: 0;
            opacity: 1;
            z-index: 12;
        }

        to {
            top: -110px;
            opacity: 0;
            z-index: -1;
        }
    }

    @keyframes deslocamentoDir {
        from {
            top: 0;
            z-index: 12;
        }

        to {
            top: 110px;
            z-index: -1;
        }
    }
}

.footer{
    background-color: #0f0f0f;
    text-align: center;
    padding: 80px 0; 
    color: white;
}
.password {
    color: #050505;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
    font-weight: bold;
}

.password a {
    color: #000000;
    font-weight: normal;
    text-decoration: none;
}

.password a:hover {
    text-decoration: underline;
}

.error-message {
    color: #e74c3c; 
    font-size: 12px; 
    margin-top: 5px; 
    display: none; 
}

#backButton {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 999; 
}

#backButton.admin-mode {
    filter: invert(100%);
}

.back-icon {
    width: 30px; 
    height: auto; 
}

#backButton:hover {
    opacity: 0.8; 
}