body, html {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #a1a1a1;
  color: #ffffff;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.fullscreen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}
.content {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  max-width: 400px;
  width: 90%;
  z-index: 1;
}
.bubble {
  background-color: #152e56; /* Aqui você aplica a cor desejada */
}
h1 {
  color: #152e56;
  text-align: center;
  margin-bottom: 1.5rem;
}
form {
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 0.5rem;
  color: #152e56;
}
input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #333333;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
button {
  background-color: #152e56;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #152e56;
}
.logo {
  text-align: center;
  margin-bottom: 1rem;
}
.logo img {
  max-width: 200px;
  height: auto;
  transition: transform 0.3s;
}
.password-strength {
  height: 5px;
  margin-bottom: 1rem;
  background-color: #333;
  border-radius: 2px;
}
.password-strength-bar {
  height: 100%;
  width: 0;
  border-radius: 2px;
  transition: width 0.3s ease, background-color 0.3s ease;
}
.wave-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

@keyframes wave {
  0% {transform: translateX(0);}
  100% {transform: translateX(-50%);}
}
@keyframes rise {
  0% { transform: translateY(0) rotate(0deg); }
  100% { transform: translateY(-100vh) rotate(360deg); }
}
